{% extends 'base.html' %}
{% block content %}

    <h1>Finch Details</h1>

    <div class="card" style="background-color: {{ finch.color }};">
        <div class="card-content">
            <span class="card-title">{{ finch.name }}</span>
            <p>Color: {{ finch.color }}</p>
            <p>Description: {{ finch.description | linebreaks }}</p>
            {% if finch.age > 0 %}
            <p>Age: {{ finch.age }}</p>
            {% else %}
            <p>Age: Baby</p>
            {% endif %}
        </div>
    </div>

{% endblock %}